nav {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 9995;
    padding-top:12px;
    padding-bottom:12px;
}

nav.topfixed {
    background-color: #a98;
}

nav .logo {
    max-width: 175px;
    width: 175px;
    transition: all .35s cubic-bezier(.15,.2,.2,.95);
}

.logo a,
.logo img {
    display: flex;
    width: 100%;
}

nav.logo {
    width: 125px;
    max-width: 125px;
}

nav.navigation li a {
    color: #444;
}

nav a {
    display: block;
    cursor: pointer;
}

nav .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navigation ul {
    display: flex;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .05em;
    list-style: none;
}

.navigation li a {
    color: #a98;
    text-decoration: none;
    padding: 10px;
}

.navigation button {
    background: none;
    border: none;
    outline: none;
    display: none; 
}

nav .navbar {
    align-items: center;
}

nav.topfixed .navigation li a {
    color: #fff;

}

.navigation button {
    position: relative;
    display: block;
    margin: 0;
    z-index: 9999;
}

.navigation ul {
    background-color: rgba(10,10,10,.8);
    position: absolute;
    padding: 100px 30px 30px 20px;
    flex-direction: column;
    right: 0;
    top: 0;
    min-width: 30%;
    min-height: 100vh;
    transform: translateX(100%);
    transition: all 0.5s;
    opacity:0;
    transition-property: transform;
    transition-duration: .35s;
    /*        transition-delay: .2s;*/
    transition-timing-function: ease;
    z-index: 9998;
}

.navigation.open ul {
    transform: translateX(0);
    opacity:1;
}

.navigation.open .overlay {
    background-color: rgba(10,10,10,.8);
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    min-height: 100vh;
    z-index: 99;
}

.block {
    max-width: 300px;
    width: 175px;
    background-color: #a98;
}
